<!doctype HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>


<body>

<div th:fragment="addProject">
    <div class="container-fluid px-4">
        <h1 th:if="${param.success}" class="mt-4">You just added a new Product!</h1>
        <h1 th:if="!${param.success}" class="mt-4">Add a new Project</h1>
        <h1 th:if="${param.error}" class="mt-4">Oops...</h1>


        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <ol class="breadcrumb mb-4">
                <li th:if="!${param.success}" class="breadcrumb-item active">Build your project from scratch :)</li>
            </ol>
            <div>
                <form th:action="@{/addProject}" th:object="${project}" method="post" class="user">
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="name">Name</label>
                            <input type="text" th:field="*{name}" id="name" name="name"
                                   class="form-control form-control-user" placeholder="Name of project">
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                                  class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="price">Price</label>
                            <input type="text" th:field="*{price}" id="price" name="price"
                                   class="form-control form-control-user" placeholder="Price of project"></input>
                            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                                  class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" th:field="*{description}" id="description" name="description"
                               class="form-control form-control-user" placeholder="Description">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                              class="text-danger"></span>
                    </div>


                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="type">Type</label>
                            <div class="dropdown">
                                <select class="form-control" id="type" name="type">
                                    <option>--Select a Type--</option>
                                    <option th:each="type : ${types}" th:value="${type.name()}"
                                            th:text="${type}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
                                  class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <label for="category">Category</label>
                            <div class="dropdown">
                                <select class="form-control" id="category" name="category">
                                    <option>--Select a Category--</option>
                                    <option th:each="category : ${categories}" th:value="${category.name()}"
                                            th:text="${category}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"
                                  class="text-danger"></span>
                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="status">Status</label>
                            <div class="dropdown">
                                <select class="form-control" id="status" name="status">
                                    <option>--Select a Status--</option>
                                    <option th:each="status : ${statuses}" th:value="${status.name()}"
                                            th:text="${status}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('status')}" th:errors="*{status}"
                                  class="text-danger"></span>
                        </div>

                        <div class="col-sm-6">
                            <label for="priority">Priority</label>
                            <div class="dropdown">
                                <select class="form-control" id="priority" name="priority">
                                    <option>--Select a Priority--</option>
                                    <option th:each="priority : ${priorities}" th:value="${priority.name()}"
                                            th:text="${priority}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"
                                  class="text-danger"></span>
                        </div>

                    </div>


                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <label for="startDate">Start Date</label>
                            <input type="text" th:field="*{startDate}" id="startDate" name="startDate"
                                   class="form-control form-control-user" placeholder="Start date of the project">
                            <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"
                                  class="text-danger"></span>
                        </div>
                        <div class="col-sm-6">
                            <label for="endDate">End Date</label>
                            <input type="text" th:field="*{endDate}" id="endDate" name="endDate"
                                   class="form-control form-control-user"
                                   placeholder="End date of the project"></input>
                            <span th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"
                                  class="text-danger"></span>
                        </div>
                    </div>


                    <input type="submit" value="Save Project" class="btn btn-primary btn-user btn-block">
                    <hr>
                    <!--<a href="index.html" class="btn btn-google btn-user btn-block">
                      <i class="fab fa-google fa-fw"></i> Register with Google
                    </a>-->
                    <a th:href="@{/portal}" class="btn btn-facebook btn-user btn-block">
                        </i> Home Page
                    </a>
                </form>
            </div>

        </div>
        <!-- /.container-fluid -->


    </div>
</div>

</body>


</html>tml>