<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/header :: header-css}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>


<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bolder">Our Work</h1>
            <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
        </div>
        <div th:if="${param.productAddedToCart}">
            <div class="alert alert-info">
                Product added to cart!
            </div>
        </div>

        <div class="row gx-5">

            <!--de aici incepe-->

            <!-- Item cu buton de edit si delete si view on click -->

            <div th:each="product : ${products}" class="col-lg-6">
                <hr>
                <div class="position-relative">
                    <img class="img-fluid rounded-3 mb-3" th:src="${product.secondImgUrl}"
                         alt="..."/>
                    <div>
                        <a class="h3 fw-bolder text-decoration-none link-dark stretched-link"
                           th:href="@{/portfolio-item/{id}(id=${product.id})}"
                           th:value="${product}"
                           th:text="${product.name}"></a>
                    </div>
                </div>
                <p></p>

                <a th:href="${'/shopping-cart-add-overview/'+product.getId()}" class="btn btn-primary btn-lg px-4 me-sm-3">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                    <span class="text" th:text="${product.price} +' Add to cart'"></span>
                </a>

                <p></p>

                <div sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/updateProduct/{id}(id=${product.id})}" class="btn btn-light btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                        <span class="text">Edit</span>
                    </a>

                    <a th:href="@{/deleteProduct/{id}(id=${product.id})}"
                       class="btn btn-secondary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                        <span class="text">Delete</span>
                    </a>
                </div>
                <hr>
            </div>

            <!-- pana aici -->


            <!--<div class="col-lg-6">
                <div th:each="product : ${products}" class="position-relative mb-5">
                    <img class="img-fluid rounded-3 mb-3" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." />
                    <a class="h3 fw-bolder text-decoration-none link-dark stretched-link" th:href="@{/portfolio-item/{id}(id=${product.id})}"
                    th:text="${product.name}"></a>
                </div>
            </div>-->


        </div>
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <h2 class="display-4 fw-bolder mb-4">Let's build something together</h2>
        <a class="btn btn-lg btn-primary" th:href="@{/contact}">Contact us</a>
    </div>
</section>



</body>
<div th:replace="~{fragments/footer :: footer}"></div>

</html>
