<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/header :: header-css}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>


<!-- Page Content-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">

                <div class="text-center mb-5">
                    <div th:if="${param.productAddedToCart}">
                        <div class="alert alert-info">
                            Product added to cart!
                        </div>
                    </div>


                    <h1 class="fw-bolder" th:text="${product.name}"></h1>
                    <p class="lead fw-normal text-muted mb-0" th:text="${product.model}"></p>
                    <p class="lead fw-normal text-muted mb-0" th:text="${product.category}"></p>



                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-12"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/1300x700/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
            <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="https://dummyimage.com/600x400/343a40/6c757d" alt="..." /></div>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <p class="fs-4 mb-4 fst-italic" th:text="${product.description}"></p>

                    <!-- Item cu buton de buy edit si delete si view on click -->
                    <a th:href="${'/shopping-cart-add-item/'+product.getId()}" class="btn btn-primary btn-lg px-4 me-sm-3">
                                <span class="icon text-white-50">
                                    <i class="fas fa-check"></i>
                                </span>
                        <span class="text" th:text="${product.price} +' Add to cart'"></span>
                    </a>

                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/updateProduct/{id}(id=${product.id})}" class="btn btn-light btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                        <span class="text">Edit</span>
                    </a>

                    <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/deleteProduct/{id}(id=${product.id})}" class="btn btn-secondary btn-icon-split btn-sm">
                                <span class="icon text-white-50">
                                    <i class="fas fa-trash"></i>
                                </span>
                        <span class="text">Delete</span>
                    </a>
                    <hr>
                    <a th:href="@{/portfolio-overview}" class="btn btn-facebook btn-user btn-block">
                        <i class="fab fa-facebook-f fa-fw"></i> Back to Portfolio Overview
                    </a>

                    <!-- Item cu buton de buy edit si delete si view on click -->
                </div>
            </div>
        </div>
    </div>
</section>



</body>
<div th:replace="~{fragments/footer :: footer}"></div>

</html>
