<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sb-admin-2.css}"/>

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 th:if="${param.success}" class="h4 text-gray-900 mb-4">You've successfully registered to
                                our awesome app! Please go to log in page.</h1>
                            <h1 th:if="!${param.success}" class="h4 text-gray-900 mb-4">Create an Account!</h1>

                        </div>
                        <form th:action="@{/register-admin}" th:object="${user}" method="post" class="user">
                            <!-- <div class="form-group"
                                  th:classappend="${#fields.hasErrors('role')}? 'has-error':''">
                               <select id="role" name="role" class="form-control form-control-user">
                                 <option>Select a Role&ndash;&gt;</option>
                                 <option th:each="role : ${roles}"
                                         th:value="${role.name()}"
                                         th:text="${role}"
                                 ></option>
                               </select>
                               <p class="error-message"
                                  th:each="error : ${#fields.errors('role')}" th:text="${error}">Validation
                                 error</p>
                             </div>-->




                            <!--<div class="form-group" th:classappend="${#fields.hasErrors('role')}? 'has-error':''">
                              <select id="role" name="role" class="form-control form-control-user" onchange="updateSelectedRole(this)">
                                  <option>
                                  </option>
                                <option th:each="role : ${roles}" th:value="${role.name()}" th:text="${role}">
                                </option>
                              </select>
                              <p class="error-message" th:each="error : ${#fields.errors('role')}" th:text="${error}">Validation error</p>
                            </div>

                            <div>
                              <p>Selected Role : <span id="roleDisplay" th:text="${user.getRole()}"></span></p>
                            </div>
                              <script th:inline="javascript">
                                  function updateSelectedRole(selectElement) {
                                      var selectedOption = selectElement.options[selectElement.selectedIndex];
                                      var selectedRoleName = selectedOption.text;
                                      document.getElementById("roleDisplay").textContent = selectedRoleName;
                                  }
                              </script>-->


                            <!-- <script th:inline="javascript">
                               function updateSelectedRole(selectElement) {
                                 var selectedOption = selectElement.options[selectElement.selectedIndex];
                                 var selectedRoleName = selectedOption.text;
                                 selectElement.options[0].text = selectedRoleName;
                               }
                             </script>-->

                            <!-- <script th:inline="javascript">
                               function updateSelectedRole() {
                                 var select = document.getElementById("role");
                                 var selectedOption = select.options[select.selectedIndex];
                                 var selectedRoleName = selectedOption.text;
                                 select.options[0].text = selectedRoleName;
                               }
                             </script>-->


                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                <input type="email" id="email" class="form-control form-control-user"
                                       th:field="*{email}"
                                       placeholder="Email Address">
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                            <div class="form-group"
                                 th:classappend="${#fields.hasErrors('phoneNumber')}? 'has-error':''">
                                <input type="text" id="phoneNumber" class="form-control form-control-user"
                                       th:field="*{phoneNumber}"
                                       placeholder="Phone Number">
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('phoneNumber')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                            <div class="form-group row"
                                 th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" id="password" class="form-control form-control-user"
                                           th:field="*{password}"
                                           placeholder="Password">
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('password')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <div class="col-sm-6"
                                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                                    <input type="password" id="confirmPassword" class="form-control form-control-user"
                                           th:field="*{confirmPassword}"
                                           placeholder="Repeat Password">
                                    <p class="error-message"
                                       th:each="error : ${#fields.errors('confirmPassword')}"
                                       th:text="${error}">Validation error</p>
                                </div>
                                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation
                                    error</p>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label for="role">Role</label>
                                    <div class="dropdown">
                                        <select class="form-control" id="role" name="Role">
                                            <option>--Select a Role--</option>
                                            <option th:each="role : ${roles}"
                                                    th:value="${role.name()}"
                                                    th:text="${role}"
                                            ></option>
                                        </select>
                                    </div>
                                    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
                                          class="text-danger">* Chose a Role</span>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                Register Account
                            </button>
                            <hr>
                            <a th:href="@{/index}" class="btn btn-google btn-user btn-block">
                                <i class="fab fa-google fa-fw"></i> Register with Google
                            </a>
                            <a th:href="@{/index}" class="btn btn-facebook btn-user btn-block">
                                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                            </a>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/forgot-password}">Forgot Password?</a>
                        </div>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>

</html>