<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/header :: header-css}"></head>

<body>
<div th:replace="~{fragments/header :: header}"></div>


<div class="container">

    <div class="col-sm-3" th:if="${products.isEmpty()}">
        <h1>Shopping cart empty</h1>
    </div>

    <div class="col-sm-3" th:if="${!products.isEmpty()}">
        <h1>Shopping cart content .....
        .......
        ........</h1>
    </div>

    <div class="col-5">
        <h2 th:text="'Total price is: ' + ${totalPrice} + ' Ron'"></h2>
    </div>







</div>


</body>
<div th:replace="~{fragments/footer :: footer}"></div>

</html>
