<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:replace="~{fragments/portal-fragments/header-portal :: header-css}">


</head>

<body>
<div th:replace="~{fragments/portal-fragments/header-portal :: header}"></div>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>

                    <!--Start-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStart"
                       aria-expanded="false" aria-controls="collapseStart">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-chart-pie me-1"></i>
                        </div>
                        Start
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseStart" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionStart">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#StartCollapseProjects" aria-expanded="false"
                               aria-controls="StartCollapseProjects">
                                Projects
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="StartCollapseProjects" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionStart">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/viewAllProjects}">View All</a>
                                    <a sec:authorize="hasAuthority('ADMIN')" class="nav-link" th:href="@{/addProject}">Add
                                        new</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#StartCollapseTasks" aria-expanded="false"
                               aria-controls="StartCollapseTasks">
                                Tasks
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="StartCollapseTasks" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionStart">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/viewAllTasks}">View all</a>
                                    <a sec:authorize="hasAuthority('ADMIN')" class="nav-link" th:href="@{/addTask}">Add
                                        new</a>
                                </nav>
                            </div>
                            <a sec:authorize="hasAuthority('ADMIN')" class="nav-link collapsed" href="#"
                               data-bs-toggle="collapse"
                               data-bs-target="#StartCollapseEmployees" aria-expanded="false"
                               aria-controls="StartCollapseEmployees">
                                Employees
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="StartCollapseEmployees" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionStart">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" th:href="@{/viewAllEmployees}">View all</a>
                                    <a class="nav-link" href="#">Add new</a>
                                </nav>
                            </div>
                        </nav>
                    </div>

                    <!--Users-->
                    <a sec:authorize="hasAuthority('ADMIN')" class="nav-link collapsed" href="#"
                       data-bs-toggle="collapse" data-bs-target="#collapseUsers"
                       aria-expanded="false" aria-controls="collapseUsers">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-user fa-fw"></i>
                        </div>
                        Users
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseUsers" aria-labelledby="headingTwo"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionUsers">
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#UsersCollapseModerators" aria-expanded="false"
                               aria-controls="UsersCollapseModerators">
                                Moderators
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="UsersCollapseModerators" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionUsers">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">View All</a>
                                    <a class="nav-link" href="#">Add new</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#UsersCollapseAdmins" aria-expanded="false"
                               aria-controls="StartCollapseAdmins">
                                Admins
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="UsersCollapseAdmins" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionUsers">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">View all</a>
                                    <a class="nav-link" href="#">Add new</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                               data-bs-target="#UsersCollapseClients" aria-expanded="false"
                               aria-controls="StartCollapseClients">
                                Clients
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="UsersCollapseClients" aria-labelledby="headingOne"
                                 data-bs-parent="#sidenavAccordionUsers">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="#">View all</a>
                                    <a class="nav-link" href="#">Add new</a>
                                </nav>
                            </div>
                        </nav>
                    </div>


                    <!--Interface-->
                    <div class="sb-sidenav-menu-heading">Interface</div>

                    <!--Others-->
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOthers"
                       aria-expanded="false" aria-controls="collapseOthers">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Others
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseOthers" aria-labelledby="headingOne"
                         data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="#">View all</a>
                            <a class="nav-link" href="#">Add new</a>
                        </nav>
                    </div>


                    <!--Addons-->
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    <a class="nav-link" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Tables
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                <div class="sb-sidenav-footer" th:text="${#authentication.principal.username}">
                </div>
            </div>
        </nav>
    </div>


    <!--Page Content-->
    <div id="layoutSidenav_content">
        <!--Page Content-->
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                DataTable Example
            </div>
            <div class="card-body">


                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Category</th>
                        <th scope="col">Status</th>
                        <th scope="col">Priority</th>
                        <th scope="col">Price</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="project : ${projects}">
                        <td>
                            <div class="btn-group navbar-dark bg-dark" role="group" aria-label="Basic example">
                                <a th:href="'/viewProject/' +${project.id}" type="button" class="btn btn-primary text-bg-dark p">View</a>
                                <a sec:authorize="hasAuthority('ADMIN')" th:href="'/deleteProjectById/' +${project.id}" type="button" class="btn btn-primary text-bg-dark p">Delete</a>
                            </div>
                        </td>
                        <td th:text="${project.name}"></td>
                        <td th:text="${project.type}"></td>
                        <td th:text="${project.category}"></td>
                        <td th:text="${project.status}"></td>
                        <td th:text="${project.priority}"></td>
                        <td th:text="${project.price}"></td>
                        <td th:text="${project.startDate}"></td>
                        <td th:text="${project.endDate}"></td>
                        <td th:text="${project.description}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


    </div>
</div>


</body>
<div th:replace="~{fragments/portal-fragments/footer-portal :: footer}"></div>

</html>
