<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:fragment="header-css">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Admin Portal</title>

    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

    <link th:href="@{css/styles.css}" rel="stylesheet"/>


</head>
<body class="d-flex flex-column h-100">


<main th:fragment="header" class="flex-shrink-0">



    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" th:href="@{/portal}">Portal</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!">
            <i class="fas fa-bars"></i></button>


        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-table"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/index}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Home</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" th:href="@{/about}">
                        <i class="bi bi-question-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                        About</a></li>
                    <li><a class="dropdown-item" th:href="@{/contact}">
                        <i class="bi bi-telephone fa-sm fa-fw mr-2 text-gray-400"></i>
                        Contact</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" th:href="@{/portfolio-overview}">
                        <i class="fas fa-book-open fa-sm fa-fw mr-2 text-gray-400"></i>
                        Portfolio Overview</a></li>
                    <li><a class="dropdown-item" th:href="@{/addProduct}">
                        <i class="bi bi-collection fa-sm fa-fw mr-2 text-gray-400"></i>
                        Add item</a></li>
                </ul>
            </li>
        </ul>


        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-tachometer-alt"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/portal}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Dashboard</a></li>
                    <li><a class="dropdown-item" href="#!">
                        <i class="bi bi-building fa-sm fa-fw mr-2 text-gray-400"></i>
                        Layouts</a></li>
                </ul>
            </li>
        </ul>

        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/update-admin-profile/{email}(email=${#authentication.principal.username})}">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Edit Profile</a></li>
                    <li><a class="dropdown-item" href="#!">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Change Password</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Log out</a></li>
                </ul>
            </li>
        </ul>


    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>

                        <!--Start-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseStart" aria-expanded="false" aria-controls="collapseStart">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-chart-pie me-1"></i>
                            </div>
                            Start
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseStart" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionStart">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#StartCollapseProjects" aria-expanded="false" aria-controls="StartCollapseProjects">
                                    Projects
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="StartCollapseProjects" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionStart">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#">View All</a>
                                        <a class="nav-link" th:href="@{/addProject}">Add new</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#StartCollapseTasks" aria-expanded="false" aria-controls="StartCollapseTasks">
                                    Tasks
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="StartCollapseTasks" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionStart">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#">View all</a>
                                        <a class="nav-link" th:href="@{/addTask}">Add new</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#StartCollapseEmployees" aria-expanded="false" aria-controls="StartCollapseEmployees">
                                    Employees
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="StartCollapseEmployees" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionStart">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#">View all</a>
                                        <a class="nav-link" href="#">Add new</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>

                        <!--Users-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                            <div class="sb-nav-link-icon">
                                <i class="fas fa-user fa-fw"></i>
                            </div>
                            Users
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseUsers" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionUsers">
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#UsersCollapseModerators" aria-expanded="false" aria-controls="UsersCollapseModerators">
                                    Moderators
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="UsersCollapseModerators" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionUsers">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#">View All</a>
                                        <a class="nav-link" href="#">Add new</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#UsersCollapseAdmins" aria-expanded="false" aria-controls="StartCollapseAdmins">
                                    Admins
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="UsersCollapseAdmins" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionUsers">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#">View all</a>
                                        <a class="nav-link" href="#">Add new</a>
                                    </nav>
                                </div>
                                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#UsersCollapseClients" aria-expanded="false" aria-controls="StartCollapseClients">
                                    Clients
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="UsersCollapseClients" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionUsers">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link" href="#">View all</a>
                                        <a class="nav-link" href="#">Add new</a>
                                    </nav>
                                </div>
                            </nav>
                        </div>


                        <!--Interface-->
                        <div class="sb-sidenav-menu-heading">Interface</div>

                        <!--Others-->
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseOthers" aria-expanded="false" aria-controls="collapseOthers">
                            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                            Others
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseOthers" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">View all</a>
                                <a class="nav-link" href="#">Add new</a>
                            </nav>
                        </div>



                        <!--Addons-->
                        <div class="sb-sidenav-menu-heading">Addons</div>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Charts
                        </a>
                        <a class="nav-link" href="#">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Tables
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    #UserRole from DB
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <!-- Page Content -->

                </div>

            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


</main>

</body>
</html>